<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Trabajo Final de Inteligencia Artificial">
    <title>IA - Trabajo Final</title>
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
    <script type="text/javascript" src="../static/js/index.js"></script>
</head>
<body>
    <h1>Inteligencia Artificial - Trabajo Final</h1>
    <div>
        <input id="imageinput" type="file" name="image" onchange="readUrl(this)">
        <button name="send" id="sendbutton">Enviar</button>
        <hr>
        <div class="slidecontainer">
            <div>Grosor de esqueleto: <div id="output">20</div></div>
            <input type="range" min="1" max="40" value="20" class="slider" id="myRange" oninput="onRangeChange(this)">
        </div>
        <div class="slidecontainer">
            <div>Threshold: <div id="oThr">0.1</div></div>
            <input type="range" min="0" max="0.4" value="0.1" class="slider" id="rangeThr" step="0.05" oninput="onThRangeChange(this)">
        </div>
        <div class="prediction" id="prediction"></div>
        <img id="imagebox" src="">
    </div>
</body>
</html>
